<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iecas.geoai.labelplatform.dao.LabelDatasetImageInfoMapper">

    <!--通过实体作为筛选条件查询-->
    <select id="listDatasetImageInfos" resultType="cn.iecas.geoai.labelplatform.entity.domain.LabelDatasetFileInfo" parameterType="cn.iecas.geoai.labelplatform.entity.dto.LabelDatasetFileRequest">
        select * from label_dataset_image_info
        <where>
            (dataset_id = #{labelDatasetImageRequest.datasetId})
            <if test="labelDatasetImageRequest.searchParamList!=null">
                AND
                <foreach collection="labelDatasetImageRequest.searchParamList" item="searchParam" open="(" close=")" separator="AND">
                    CONCAT(image_name,source,user_name,keywords) like '%${searchParam}%'
                </foreach>
            </if>

            <if test="labelDatasetImageRequest.status != null">
                and status = #{labelDatasetImageRequest.status}
            </if>
            <if test="labelDatasetImageRequest.sortOrder != null and labelDatasetImageRequest.orderBy !=null">
                order by ${imageSearchParam.sortOrder}  ${imageSearchParam.orderBy}
            </if>
        </where>
        order by image_name asc

    </select>
    <select id="listTaskImageInfos" resultType="cn.iecas.geoai.labelplatform.entity.domain.LabelDatasetFileInfo" parameterType="cn.iecas.geoai.labelplatform.entity.dto.LabelDatasetFileRequest">
        select * from label_dataset_image_info
        <where>
            (dataset_id = #{labelTaskFileSearchRequest.labelDatasetId})
            <if test="labelTaskFileSearchRequest.imageId!=0">
                and image_id = #{labelTaskFileSearchRequest.imageId}
            </if>

            <if test="labelTaskFileSearchRequest.labelTaskType==@cn.iecas.geoai.labelplatform.entity.emun.LabelTaskType@LABEL">
                and label_user_id = #{labelTaskFileSearchRequest.userId}
            </if>

            <if test="labelTaskFileSearchRequest.labelTaskType==@cn.iecas.geoai.labelplatform.entity.emun.LabelTaskType@CHECK">
                and check_user_id = #{labelTaskFileSearchRequest.userId}
            </if>

            <if test="labelTaskFileSearchRequest.status!=null">
                and status = #{labelTaskFileSearchRequest.status}
            </if>

            <if test="labelTaskFileSearchRequest.searchParamList!=null">
                AND
                <foreach collection="labelTaskFileSearchRequest.searchParamList" item="searchParam" open="(" close=")" separator="AND">
                    CONCAT(image_name,source) like '%${searchParam}%'
                </foreach>
            </if>
        </where>
        order by image_name asc
    </select>
</mapper>
